<mat-toolbar color="primary">
  <mat-icon class="app-icon">token</mat-icon>
  <span class="appName">Integration Architectures</span>
  <button class="menu-button" mat-flat-button color="primary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="button.routerLink" *ngFor="let button of buttons">{{button.title}}</button>
  <span class="spacer"></span>
  <span class="user-displayname" >Luca</span>
  <button mat-icon-button aria-label="Logout button" (click)="handleLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
