<header>
    <h2>SalesMans table:</h2>
    <button mat-raised-button id="sync_button" (click)="syncButton_click()">Sync Salesman</button>
</header>

<table mat-table class="mat-elevation-z8 cdk-table" [dataSource]="salesmens">
    <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let person">{{person._id}}</td>
    </ng-container>

    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef>Firstname</th>
        <td mat-cell *matCellDef="let person">{{person.firstname}}</td>
    </ng-container>

    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>Lastname</th>
        <td mat-cell *matCellDef="let person" >{{person.lastname}}</td>
    </ng-container>

    <ng-container matColumnDef="jobTitle">
        <th mat-header-cell *matHeaderCellDef>Job Title</th>
        <td mat-cell *matCellDef="let person" >{{person.jobTitle}}</td>
    </ng-container>

    <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef>Unit</th>
        <td mat-cell *matCellDef="let person" >{{person.unit}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell   *matHeaderCellDef >Actions</th>
        <td mat-cell *matCellDef="let row" >
            <button mat-button (click)="showSalesMan(row)">Update</button>
            <button mat-button (click)="deleteMethod(row)">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>


    <tr
        mat-row
        (click)="showSalesMan(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
</table>
