table{
    width: 100%;
}
.mat-column-_id {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-actions {
    width: min-content;
    padding-right: 24px;
    text-align: center;
}

.mat-column-firstname{
    padding-left: 16px;
}

/*.mat-header-cell{
    padding-left: 16px;
}*/

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sync_button {
    margin-bottom: 5px;
}
