/* BonusDetailComponent's private CSS styles */
label, #bonus-id, #bonus-salesManID {
    color: #435960;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 1em;
    padding: .5rem;
}
button {
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    width: 200px;
}
button:hover {
    background-color: #cfd8dc;
}
button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}

.card-buttons {
    display: flex;
    justify-content: space-evenly;
}

.mat-green {
    color: white;
    background-color: forestgreen;
}
