.example-card {
    width: 20%;
    min-width: 200px;
}

.example-header-image {
    background-size: cover;
}

.main-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#bonuses {
    width: 80%;
    min-width: 600px;
}