.example-card {
    min-width: 200px;
    width: 20%;
}

.example-header-image {
    background-size: cover;
}

.main-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 800px;
}
