:host{ /* :host selects the DOM element of the current component */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper{
  width: 100%;
  max-width: 300px;
}
