<h2>bonus table:</h2>
<button class="btn btn-lg btn-outline-primary" (click)="open(mymodal, null)">Add new Bonus</button>
<br>
<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Bonus</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Value</mat-label>
                <input name="value" matInput placeholder="value" [(ngModel)]="bonus.value"  required>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Verified</mat-label>
                <input name="verified" matInput placeholder="verified" [(ngModel)]="bonus.verified"  required>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Year</mat-label>
                <input name="year" matInput placeholder="year" [(ngModel)]="bonus.year"  required>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>SalesMan ID</mat-label>
                <input name="salesManID" matInput placeholder="salesManID" [(ngModel)]="bonus.salesManID"  required>
            </mat-form-field>



        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save')">Save</button>
    </div>
</ng-template>
<br>

<table mat-table class="mat-elevation-z8 cdk-table" [dataSource]="bonuses">
    <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let bonus">{{bonus._id}}</td>
    </ng-container>

    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let bonus" >{{bonus.value}}</td>
    </ng-container>

    <ng-container matColumnDef="verified">
        <th mat-header-cell *matHeaderCellDef>Verified</th>
        <td mat-cell *matCellDef="let bonus" >{{bonus.verified}}</td>
    </ng-container>

    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Year</th>
        <td mat-cell *matCellDef="let bonus" >{{bonus.year}}</td>
    </ng-container>

    <ng-container matColumnDef="salesManID">
        <th mat-header-cell *matHeaderCellDef>SalesManID</th>
        <td mat-cell *matCellDef="let bonus" >{{bonus.salesManID}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell   *matHeaderCellDef >Actions</th>
        <td mat-cell *matCellDef="let row" >
            <button mat-button (click)="open(mymodal, row)">Update</button>
            <button mat-button (click)="deleteMethod(row)">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>


    <tr
        mat-row
        (click)="showBonus(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
</table>

