<h2>Bonuses of all salesmen</h2>

<ngx-spinner
    type="ball-pulse"
>Loading...</ngx-spinner>

<div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="bonuses">
        <!-- ID Column -->
        <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let bonus">{{bonus._id}}</td>
        </ng-container>

        <!-- Year Column -->
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef>Year</th>
            <td mat-cell *matCellDef="let bonus">{{bonus.year}}</td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let bonus">{{bonus.value}}</td>
        </ng-container>

        <!-- Remark Column -->
        <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef>Remark</th>
            <td mat-cell *matCellDef="let bonus">{{bonus.remark}}</td>
        </ng-container>

        <!-- Verified Column -->
        <ng-container matColumnDef="verified">
            <th mat-header-cell *matHeaderCellDef>Remark</th>
            <td mat-cell *matCellDef="let bonus">{{bonus.verified}}</td>
        </ng-container>

        <!-- Salesman ID Column -->
        <ng-container matColumnDef="salesManID">
            <th mat-header-cell *matHeaderCellDef>Salesman ID</th>
            <td mat-cell *matCellDef="let bonus">{{bonus.salesManID}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"
            [routerLink]="['/bonuses/detail/', row._id]"></tr>

    </table>
</div>
