<h2>Bonuses of all salesmen</h2>
<div>
    <label for="new-bonus">Bonus year: </label>
    <input id="new-bonus" #bonusYear/>

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(bonusYear.value); bonusYear.value=''">
        Add Bonus
    </button>
</div>

<ngx-spinner
    type="ball-pulse"
>Loading...</ngx-spinner>
<ul class="bonuses">
    <li *ngFor="let bonus of bonuses">
        <a routerLink="/bonuses/detail/{{bonus.id}}">
            <span class="badge">{{bonus.id}}</span> {{bonus.value}}
            <!--<span class="year">{{bonus.year}}</span>
            <span class="value">{{bonus.value}}</span>
            <span class="remark">{{bonus.remark}}</span>
            <span class="verified">{{bonus.verified}}</span>
            <span class="salesManID">{{bonus.salesManID}}</span>-->
        </a>
        <button type="button" class="delete" title="delete bonus"
                (click)="delete(bonus)">x
        </button>
    </li>
</ul>
