<h1>Welcome in the <em>Integration Architectures</em> Template Webapp!</h1>

<p>You can add your own content to this page. <br> You will find its files at: <text style="font-family: monospace">frontend/src/app/pages/landing-page/</text></p>

<h2>How to add new pages?</h2>
<p>The pages, which are handled by the angular router, are basically angular components. So first of all, we need to add a new component.<br>
To preserve the syntactic structure of the project, you may put this component inside the directory <text style="font-family: monospace">frontend/src/app/pages/</text> .</p>
